{{define "subject"}}Password reset{{end}}
{{define "plainBody"}}
Hi, {{.user.Username}} !
Your link for password reset:
127.0.0.1:8000/user/new_password/{{.token.Plaintext}}

The GorodeBids Team
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi,{{.user.Username}} </p>
<p>Your link for password reset:</p>
<p>127.0.0.1:8000/user/new_password/{{.token.Plaintext}}</p>
<br>
<p>The GorodeBids Team</p>
</body>
</html>
{{end}}
